<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="PushNotificationConn"  connectionString="Server=103.209.146.76;Database=MyMarketing;User ID=sa;Password=MI!@%@DTfr535frtg3r" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="ApplicationId" value="AIzaSyCitcP1Qnmqj0oTBfdPnUH67J2y_K_PCDI"></add>-->
    <add key="ApplicationId" value="AAAA8RYuf_I:APA91bEFKgMlH94K3Pyty2BTxXzqWEqme82Qs-BmDyu3EaaDTpmu_Gn2H6mBux5QKircy30PY0NGYkYe-bW7RJHHaggjxnWkZNds8IxvBHO_va7bNRvBFM1W6-ZreOWbj-Ys5LUS1q1T"></add>
    
    <add key="SenderId" value="1035459264498"></add>
    <add key="FCMUrl" value="https://fcm.googleapis.com/fcm/send"></add>
    <!--This is for New business notification if added newly-->
    <add key="LastHourNotificationCheckFromDB" value="2"></add>
    <add key="ListOfNotificationDataFromDB" value="5"></add>
    <!--This is for New Offer notification if added newly-->
    <add key="OfferNotificationCheckFromDB" value="12"></add>
    <add key="OfferNotificationDataFromDB" value="5"></add>
    <add key="DelayTimeing" value="60000"></add>
  </appSettings>
</configuration>