<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="SourceDirectory" value="C:\Images\Offer"/>
    <add key="DestinationDirectory" value="C:\Offer_Test"/>
  </appSettings>
</configuration>
